In [90]:
import pandas as pd
import numpy as np
import numpy_financial as npf
import random
import math
import datetime as dt
import arrow

In [259]:
from __future__ import annotations

import datetime as dt
import math

import numpy_financial as npf
import pandas as pd


class Loan:
    """Loan class to create instances of installment loans.
     To be initialized with the following parameters:
        1. loan_amount:float - The Original loan amount (principal) disbursed
        on the loan date.
        2. int_rate:float - original rate of interest applicable on the
        principal outstanding.
        3. fees:float - Origination fees charged at the time of booking,
        expressed as a % of original loan amount.
        4. term:float - The original term of the loan per schedule.
        5. segment:str - The approx risk category of the loan. Broadly mapped
        to six FICO_score groups. Configurable via config.yaml for categories'
        6. channel:str - Indicator variable to identify if the loan was booked
        through a free channel or a paid channel.
        7. loan_dt:str - Date of loan disbursement.
        8. freq:str - Frequency of repayment. Monthly, Quarterly etc. Valid
        values can be accessed via the class variable loan.valid_pmt_freq
        """

    valid_pmt_freq = {
        'W': 'Weekly payments', '2W': 'Fortnightly payments',
        'M': 'Monthly payments', 'BM': 'Bi-monthly payments',
        'Q': 'Quarterly payments', 'H': 'Semi-annual payments',
        'Y': 'Annual payments',
    }
    freq_offset = {
        'W': pd.DateOffset(days=7, months=0),
        '2W': pd.DateOffset(days=14, months=0),
        'M': pd.DateOffset(days=0, months=1),
        'BM': pd.DateOffset(days=0, months=2),
        'Q': 'Q', 'H': '2Q', 'Y': 'Y',
    }
    period_to_months = {
        'W': 7.0 / 30, '2W': 14.0 / 30,
        'M': 1, 'BM': 2, 'Q': 3, 'H': 6, 'Y': 12,
    }

    def __init__(
            self, loan_amt: float, interest_rate: float, term_in_months: float,
            loan_dt: str, freq: str = 'M', fees_pct: float = 0.0,
            addl_pmts: dict = None, segment: str = 'c', channel: str = 'free',
    ):
        self.loan_amt = loan_amt
        self.interest_rate = interest_rate
        self.term_in_months = term_in_months
        self.loan_dt = dt.datetime.strptime(loan_dt, '%Y-%m-%d')
        self.freq = freq
        self.fees_pct = fees_pct
        self.addl_pmts = addl_pmts
        self.segment = segment
        self.channel = channel
        self._offset = self.freq_offset[self.freq]
        self._periods = math.ceil(
            self.term_in_months / self.period_to_months[self.freq],
        )
        self._period_interest_rate = self.interest_rate * self \
            .period_to_months[self.freq] / 12
        self.pmt = -npf.pmt(
            self._period_interest_rate,
            self._periods, self.loan_amt,
        )

    def get_org_cfs(self) -> pd.DataFrame:
        """Method to get the original scheduled of cashflows for a given loan.
        For monthly frequency (most common), it assumes that the dues date are
        on the same day of the month every month.
        Usage: loan.get_schedule()"""
        df = pd.DataFrame()
        df['dates'] = pd.Series(
            pd.date_range(
                self.loan_dt, freq=self._offset, periods=self._periods + 1,
            ),
        ).shift(-1).dropna()
        df['period'] = df.index + 1
        df['interest_pmt'] = - \
            npf.ipmt(
                self._period_interest_rate,
                df['period'], self._periods, self.loan_amt,
            )
        df['principal_pmt'] = - \
            npf.ppmt(
                self._period_interest_rate,
                df['period'], self._periods, self.loan_amt,
            )
        df['closing_principal'] = self.loan_amt - df['principal_pmt'].cumsum()
        df['opening_principal'] = df['closing_principal'].shift(
            1,
        ).fillna(self.loan_amt)
        df['additional_pmt'] = pd.Series(
            self.addl_pmts,
            index=df.index,
        ).fillna(0)
        df['current_period_interest'] = df['interest_pmt']
        df['total_pmt'] = df['interest_pmt'] + df['principal_pmt']
        df['closing_accrued_interest'] = 0
        df['opening_accrued_interest'] = 0
        df = df[[
            'dates', 'period', 'opening_principal',
            'opening_accrued_interest', 'current_period_interest',
            'interest_pmt', 'principal_pmt', 'total_pmt',
            'closing_accrued_interest', 'closing_principal',
        ]]
        return df

    def _wal(self, _df: pd.DataFrame) -> float:
        """Returns the weighted average life of the loan (in months) based on
        a given cashflow schedule.
        The [WAL](https://en.wikipedia.org/wiki/Weighted-average_life) of the
        loan can be defined as the average number of months it takes for the
        principal of the loan
        to be repaid, if the borrower repays by the original schedule."""
        return ((_df['opening_principal'] - _df['closing_principal']) *
                _df['period']).sum() * \
            self.period_to_months[self.freq] / self.loan_amt

    @property
    def org_wal(self) -> float:
        return self._wal(self.get_org_cfs())

    @property
    def org_apr(self) -> float:
        """Returns the Annual percentage rate (APR) of the loan based on the
        original cashflow schedule.
        The [APR](https://en.wikipedia.org/wiki/Annual_percentage_rate) of the
        loan can be defined as the
        total financial cost of the loan (including fees) divided by the WAL of
        the loan."""
        return self.interest_rate + (self.fees_pct / (self.org_wal / 12))

    def get_mod_cfs(self, addl_pmts: dict = None) -> pd.dataFrame:
        addl_pmts = addl_pmts if addl_pmts else self.addl_pmts
        cols = [
            'dates', 'period', 'opening_principal',
            'opening_accrued_interest',
            'current_period_interest', 'interest_pmt', 'principal_pmt',
            'additional_pmt', 'total_pmt', 'closing_principal',
        ]
        df = self.get_org_cfs()
        cl_p = self.loan_amt
        cl_ai = 0   # opening accrued interest
        if addl_pmts:
            df['additional_pmt'] = pd.Series(
                addl_pmts, index=df.index,
            ).fillna(0)
            for idx, row in df.iterrows():
                row.loc['opening_principal'] = cl_p
                row.loc['opening_accrued_interest'] = cl_ai
                row.loc['current_period_interest'] = \
                    row.loc['opening_principal'] * self._period_interest_rate
                row.loc['total_pmt'] = min(
                    row.loc['interest_pmt'] +
                    row.loc['principal_pmt'] +
                    row.loc['additional_pmt'],
                    row.loc['opening_principal'] +
                    row.loc['opening_accrued_interest'] +
                    row.loc['current_period_interest'],
                )
                row.loc['closing_accrued_interest'] = \
                    max(
                        0,
                        row.loc['opening_accrued_interest'] +
                        row.loc['current_period_interest'] -
                        row.loc['total_pmt'],
                    )
                cl_ai = row.loc['closing_accrued_interest']
                row.loc['closing_principal'] = \
                    max(
                        0,
                        row.loc['opening_principal'] +
                        row.loc['opening_accrued_interest'] +
                        row.loc['current_period_interest'] -
                        row.loc['total_pmt'],
                    )
                cl_p = row.loc['closing_principal']
                df.loc[idx, cols] = row.loc[cols]
        else:
            df['additional_pmt'] = 0.0
        return df[[
            col for col in cols if col not in [
                'interest_pmt', 'principal_pmt', ]
        ]]

    @property
    def mod_wal(self) -> float:
        return self._wal(self.get_mod_cfs())

    def _maturity(self) -> np.int64:
        _cfs = self.get_mod_cfs()
        return _cfs[_cfs.closing_principal <= 1e-9].period.min()
    @property
    def org_maturity_period(self):
        return self._periods
    @property
    def mod_maturity_period(self):
        return self._maturity()

In [272]:
ir, t, fr, fe = (0.0599, 36, 'M', 0.05)
d = {0:500, 10:2000}
l1 = Loan(loan_amt=10000, interest_rate=ir, term_in_months=t, loan_dt='2022-12-12',
                      freq=fr, fees_pct=fe, addl_pmts = d)

In [273]:
l1.get_org_cfs()#.style.format('${:,.2f}')

,dates,period,opening_principal,opening_accrued_interest,current_period_interest,interest_pmt,principal_pmt,total_pmt,closing_accrued_interest,closing_principal
0,2023-01-12,1,10000.000000,0,49.916667,49.916667,254.257400,304.174066,0,9.745743e+03
1,2023-02-12,2,9745.742600,0,48.647498,48.647498,255.526568,304.174066,0,9.490216e+03
2,2023-03-12,3,9490.216032,0,47.371995,47.371995,256.802071,304.174066,0,9.233414e+03
3,2023-04-12,4,9233.413961,0,46.090125,46.090125,258.083942,304.174066,0,8.975330e+03
4,2023-05-12,5,8975.330019,0,44.801856,44.801856,259.372211,304.174066,0,8.715958e+03
5,2023-06-12,6,8715.957808,0,43.507156,43.507156,260.666910,304.174066,0,8.455291e+03
6,2023-07-12,7,8455.290898,0,42.205994,42.205994,261.968073,304.174066,0,8.193323e+03
7,2023-08-12,8,8193.322825,0,40.898336,40.898336,263.275730,304.174066,0,7.930047e+03
8,2023-09-12,9,7930.047095,0,39.584152,39.584152,264.589915,304.174066,0,7.665457e+03
9,2023-10-12,10,7665.457181,0,38.263407,38.263407,265.910659,304.174066,0,7.399547e+03
10,2023-11-12,11,7399.546521,0,36.936070,36.936070,267.237997,304.174066,0,7.132309e+03
11,2023-12-12,12,7132.308525,0,35.602107,35.602107,268.571960,304.174066,0,6.863737e+03
12,2024-01-12,13,6863.736565,0,34.261485,34.261485,269.912581,304.174066,0,6.593824e+03
13,2024-02-12,14,6593.823984,0,32.914171,32.914171,271.259895,304.174066,0,6.322564e+03
14,2024-03-12,15,6322.564088,0,31.560132,31.560132,272.613934,304.174066,0,6.049950e+03
15,2024-04-12,16,6049.950154,0,30.199335,30.199335,273.974732,304.174066,0,5.775975e+03
16,2024-05-12,17,5775.975423,0,28.831744,28.831744,275.342322,304.174066,0,5.500633e+03
17,2024-06-12,18,5500.633100,0,27.457327,27.457327,276.716740,304.174066,0,5.223916e+03
18,2024-07-12,19,5223.916361,0,26.076049,26.076049,278.098017,304.174066,0,4.945818e+03
19,2024-08-12,20,4945.818343,0,24.687877,24.687877,279.486190,304.174066,0,4.666332e+03
20,2024-09-12,21,4666.332153,0,23.292775,23.292775,280.881292,304.174066,0,4.385451e+03
21,2024-10-12,22,4385.450862,0,21.890709,21.890709,282.283358,304.174066,0,4.103168e+03
22,2024-11-12,23,4103.167504,0,20.481644,20.481644,283.692422,304.174066,0,3.819475e+03
23,2024-12-12,24,3819.475082,0,19.065546,19.065546,285.108520,304.174066,0,3.534367e+03
24,2025-01-12,25,3534.366562,0,17.642380,17.642380,286.531687,304.174066,0,3.247835e+03
25,2025-02-12,26,3247.834876,0,16.212109,16.212109,287.961957,304.174066,0,2.959873e+03
26,2025-03-12,27,2959.872918,0,14.774699,14.774699,289.399367,304.174066,0,2.670474e+03
27,2025-04-12,28,2670.473551,0,13.330114,13.330114,290.843953,304.174066,0,2.379630e+03
28,2025-05-12,29,2379.629598,0,11.878318,11.878318,292.295749,304.174066,0,2.087334e+03
29,2025-06-12,30,2087.333849,0,10.419275,10.419275,293.754792,304.174066,0,1.793579e+03
30,2025-07-12,31,1793.579058,0,8.952949,8.952949,295.221118,304.174066,0,1.498358e+03
31,2025-08-12,32,1498.357940,0,7.479303,7.479303,296.694763,304.174066,0,1.201663e+03
32,2025-09-12,33,1201.663177,0,5.998302,5.998302,298.175764,304.174066,0,9.034874e+02
33,2025-10-12,34,903.487413,0,4.509908,4.509908,299.664158,304.174066,0,6.038233e+02
34,2025-11-12,35,603.823254,0,3.014084,3.014084,301.159982,304.174066,0,3.026633e+02
35,2025-12-12,36,302.663272,0,1.510794,1.510794,302.663272,304.174066,0,1.164153e-10

In [274]:
df = l1.get_mod_cfs()
df
# df = l1.get_cfsch()
# for idx, row in df.iterrows():
#     #print(idx, row)
#     print(row.principal_pmt)
#     print(row.loc['principal_pmt'])

,dates,period,opening_principal,opening_accrued_interest,current_period_interest,additional_pmt,total_pmt,closing_principal
0,2023-01-12,1,10000.000000,0,49.916667,500.0,804.174066,9245.742600
1,2023-02-12,2,9245.742600,0,46.151665,0.0,304.174066,8987.720199
2,2023-03-12,3,8987.720199,0,44.863703,0.0,304.174066,8728.409836
3,2023-04-12,4,8728.409836,0,43.569312,0.0,304.174066,8467.805082
4,2023-05-12,5,8467.805082,0,42.268460,0.0,304.174066,8205.899476
5,2023-06-12,6,8205.899476,0,40.961115,0.0,304.174066,7942.686524
6,2023-07-12,7,7942.686524,0,39.647244,0.0,304.174066,7678.159701
7,2023-08-12,8,7678.159701,0,38.326814,0.0,304.174066,7412.312449
8,2023-09-12,9,7412.312449,0,36.999793,0.0,304.174066,7145.138175
9,2023-10-12,10,7145.138175,0,35.666148,0.0,304.174066,6876.630257
10,2023-11-12,11,6876.630257,0,34.325846,2000.0,2304.174066,4606.782037
11,2023-12-12,12,4606.782037,0,22.995520,0.0,304.174066,4325.603490
12,2024-01-12,13,4325.603490,0,21.591971,0.0,304.174066,4043.021395
13,2024-02-12,14,4043.021395,0,20.181415,0.0,304.174066,3759.028744
14,2024-03-12,15,3759.028744,0,18.763818,0.0,304.174066,3473.618496
15,2024-04-12,16,3473.618496,0,17.339146,0.0,304.174066,3186.783575
16,2024-05-12,17,3186.783575,0,15.907361,0.0,304.174066,2898.516870
17,2024-06-12,18,2898.516870,0,14.468430,0.0,304.174066,2608.811233
18,2024-07-12,19,2608.811233,0,13.022316,0.0,304.174066,2317.659483
19,2024-08-12,20,2317.659483,0,11.568984,0.0,304.174066,2025.054400
20,2024-09-12,21,2025.054400,0,10.108397,0.0,304.174066,1730.988730
21,2024-10-12,22,1730.988730,0,8.640519,0.0,304.174066,1435.455183
22,2024-11-12,23,1435.455183,0,7.165314,0.0,304.174066,1138.446430
23,2024-12-12,24,1138.446430,0,5.682745,0.0,304.174066,839.955109
24,2025-01-12,25,839.955109,0,4.192776,0.0,304.174066,539.973818
25,2025-02-12,26,539.973818,0,2.695369,0.0,304.174066,238.495121
26,2025-03-12,27,238.495121,0,1.190488,0.0,239.685609,0.000000
27,2025-04-12,28,0.000000,0,0.000000,0.0,0.000000,0.000000
28,2025-05-12,29,0.000000,0,0.000000,0.0,0.000000,0.000000
29,2025-06-12,30,0.000000,0,0.000000,0.0,0.000000,0.000000
30,2025-07-12,31,0.000000,0,0.000000,0.0,0.000000,0.000000
31,2025-08-12,32,0.000000,0,0.000000,0.0,0.000000,0.000000
32,2025-09-12,33,0.000000,0,0.000000,0.0,0.000000,0.000000
33,2025-10-12,34,0.000000,0,0.000000,0.0,0.000000,0.000000
34,2025-11-12,35,0.000000,0,0.000000,0.0,0.000000,0.000000
35,2025-12-12,36,0.000000,0,0.000000,0.0,0.000000,0.000000

In [275]:
l1.mod_maturity_period

27

In [240]:
channel_prop = {'free':0.8, 'paid':0.2}
channel_cost = {'free':0.0, 'paid':0.05}
term_prop = {'36':0.7, '60':0.3}
term_prem = {'36':0.0, '60':0.01} #reference term premium from treasury site
fee = {'No Fees': 0, '5% fees': 0.05, '10% fees': 0.1}

segment_ScoreMapping = {'f':'FICO:300-550', 'e':'FICO:550-650', 'd':'FICO:650-699',
                'c':'FICO:700-749', 'b':'FICO:750-799', 'a':'FICO:800-850'}

segment_prop = {'f':{'300-550':8.4%}, 'e':{'550-650':16.3%}, 'd':{'650-699':12.5%},
                'c':{'700-749':16.4%}, 'b':{'750-799':23.1%}, 'a':{'800-850':23.3%}} #six segments tied to chargeoffs and prepayment rates
chOff_mean = {'a':1%, 'b':1%, 'c':4.4%, 'd':8.9%, 'e':mean(22.5%, 15.8%), 'f':mean(28.4%, 41%)} # researchgate reference from 2000-2002
#establish a relationship between chargeoff and prepayment rates or FICO and prepayment rates
prepay_mean = {'a':45%, 'b':40%, 'c':35%, 'd':30%, 'e':25%, 'f':20%} # purely arbitrary

SyntaxError: invalid syntax (1418780220.py, line 10)

In [9]:
#Generating the prepayment curve and the Loss curve

# Losses peak by 9 months an36 std of about 3 months for a 36 month loan = 9/36 = 0.25; var = 9 mthsq = 9/36^2 = 0.00695 
# prepayments peak by 12 months and std by 6 months for a 36 month loan = 12/36 = 0.33; var = 9 mthsq = 36/36^2 = 0.0278

# alpha = mean*((mean*(1-mean)/var)-1)
# beta = (1-mean)*((mean*(1-mean)/var)-1)

# alpha_co = 0.25*((0.25*(1-0.25)/0.00695)-1)
# beta_co = (1-0.25)*((0.25*(1-0.25)/0.00695)-1)

# alpha_ppay = 0.33*((0.33*(1-0.33)/0.0278)-1)
# beta_ppay = (1-0.33)*((0.33*(1-0.33)/0.0278)-1)

In [22]:
# #sampling from a beta distribution
# x = math.floor(36*random.betavariate(alpha_co, beta_co))
# x

10

In [36]:
# y = math.floor(36*random.betavariate(alpha_ppay, beta_ppay))
# y

7